{% extends 'root.html' %}
{% load static %}
{% block title %} Edit {% endblock %}
{% block extra-head %}
    <link rel="stylesheet" href="{% static 'Create/style.css' %}">
{% endblock %}
{% block content %}
    <form method="post" class="formContainer" enctype="multipart/form-data">
        {% csrf_token %}
        <span>
            {{ form.name }}
            <label for="{{ id.name }}">Name</label>
        </span>
        <span>
            {{ form.value }}
            <label for="{{ id.value }}">Value</label>
            {% if form.value.errors %}
                <ul class="errorList">
                    {% for error in form.value.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        </span>
        <span>
            {{ form.server }}
            <label for="{{ id.server }}">Server</label>
        </span>
        <span>
            {{ form.gear }}
        </span>
         <span>
            {{ form.cover }}
            <label for="{{ id.cover }}">Cover</label>
        </span>
        {% if form.errors %}
        {% endif %}
        <input type="submit" value="Create">
    </form>
{% endblock %}
