{% extends "root.html" %}
{% load static %}
{% block title %}Home{% endblock %}
{% block extra-head %}
    <link rel="stylesheet" href="{% static 'detailItem/style.css' %}">
{% endblock %}
{% block content %}

    <div class="mainContainer">
        <div class="cardContainer">
            {% if object %}
                <div class="infoUser">
                    <img src="{{ object.cover.url }}" alt="ItemCover">
                    <p>SELLER: {{ object.account }}</p>
                    <p>Stars</p>
                <div>
                    {% for stars in "12345"|make_list%}
                        {% if object.account.stars >= forloop.counter %}
                        <img src="{% static 'image/starfill.png' %}" alt="star">
                        {% else %}
                        <img src="{% static 'image/star.png' %}" alt="star">
                        {% endif %}
                    {% endfor %}
                </div>
                </div>
                <div class="statusContainer">
                    {% if object.characteristics %}
                        <p>STATUS</p>
                        <aside class="status">
                            <ul>
                                {% for characteristic in object.characteristics.all %}
                                    <li>{{ characteristic }}</li>
                                {% endfor %}
                            </ul>
                        </aside>
                    {% endif %}
                </div>
                {% if user.authenticated and object.account.id == user.id %}
                    <button onclick="">EDIT ITEM</button>
                {% endif %}

            {% endif %}
        </div>
    </div>
{% endblock %}
