{% extends "root.html" %}
{% load static %}
{% block title %}Home{% endblock %}
{% block extra-head %}
    <link rel="stylesheet" href="{% static 'home/style.css' %}">
{% endblock %}
{% block content %}

<div class="mainContainer">
        <div>
            <nav>
                TESTE
            </nav>
        </div>
            <div class="cardContainer">
            {% if item %}
                {% for i in item %}
                    <div class="card">
                        <div class="cover">
                            <a href="{% url 'detailItem' i.pk %}">
                                <img src="{{ i.cover.url }}" alt="cover">
                            </a>
                                <span>{{ i.name }}</span>
                                <span><strong>{{ i.account }} - {{ i.server }}</strong></span>
                        </div>
                        <span><img src="../static/image/Kama.png" class="kama" alt="kamaAlt"> {{ i.value }}k</span>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
    </div>
{% endblock %}
