{% load static %}
{% block extra-head %}
    <link rel="stylesheet" href="{% static 'notFound/style.css' %}">
{% endblock %}
{% block content %}
    <div class="notFound">
        <h1 style="color: white">ITEM NOT FOUND...</h1>
        {% if not item %}
            {% if user.is_authenticated %}
                <button data-url="{% url 'createItem' %}" onclick="redirect('{% url 'createItem' %}')" value="CREATE" class="create">Create</button>
            {% endif %}
        {% endif %}
        <img src="{% static 'notFound/NotFound.png' %}" alt="NotFound">
    </div>
{% endblock %}